@import '../../styles/vars.scss';

.container {
  display: grid;
  grid-template-areas: 
    'header'
    'main';
  width: 100%;
  height: 100%;
}
.header {
  grid-area: header;
}
    
.post {
  grid-area: main;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  margin-top: 4rem;
  
  &__metadata, &__content {
    width: 47rem;
    max-width: 80%;
    
    color: $color-base;
    
    & h1 {
      font-family: 'Nunito Bold';
      font-size: $text-2xlg;
    }
    & h2 {
      padding-block: .5rem;
      
      font-family: 'Nunito Bold';
      font-size: $text-xlg;
    }
    & h3 {
      padding-block: .5rem;
      
      font-family: 'Nunito semiBold';
      font-size: $text-lg;
    }
    & p {
      margin-bottom: 1rem;
      
      font-family: 'Roboto';
      font-size: $text-base;
      line-height: 2.3rem;
    }
    & b {
      font-family: "Roboto Medium" !important;
      font-weight: normal;
      color: $color-focus-primary-dark !important;
    }    
  }
  &__resume {
    font-family: 'Roboto Italic' !important;
    font-size: $text-sm !important;
    line-height: 1.5rem !important;
    color: $color-base-comment !important;
  }
  &__thumbnail{
    width: 100%;
    margin-block: 1rem;
  }
}

@media screen and (max-width: 50rem) {
  .post {
    margin-top: 2rem;

    &__metadata, &__content{
      width: 32rem;

      & > h1 {
        font-size: calc($text-2xlg - .5rem);
      }
      & > h2 {
        font-size: calc($text-xlg - .25rem);
      }
      & > h3 {
        font-size: calc($text-lg - .25rem);
      }
      & > p {
        font-size: calc($text-base - .25rem);
        line-height: 2rem;
      }  
    }
    &__resume {
      font-size: calc($text-sm - .25rem) !important;
      color: $color-base-comment !important;
    }

    &__thumbnail{
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 35rem) {
  .post {
    margin-top: 1rem;

    &__metadata, &__content{
      max-width: 85%;
      width: 85%;
      
      & > h1 {
        font-size: $mob-text-4xlg;
      }
      & > h2 {
        font-size: $mob-text-3xlg;
      }
      & > h3 {
        font-size: $mob-text-2xlg;
      }
      & > p {
        margin-block: .5rem;
        
        font-size: $mob-text-base;
        line-height: 1.6rem;
      }
    }        
    &__resume {
      font-size: $mob-text-sm !important;
      line-height: 1rem !important;
    }
    
    &__thumbnail{
      width: 100%;
    }
  }
}