@import '../../styles/vars.scss';

.profile {
  display: flex;
  &__photoContainer {
    min-width: 4rem;
    min-height: 4rem;
    width: 4rem;
    height: 4rem;

    background-color: $color-focus-primary-dark;
    border-radius: 5px;
  }
  &__photo {
    border-radius: 5px;
    border: 3px solid $color-focus-primary-dark !important;
  }
  &__dataContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
}