@import '../../styles/vars.scss';

.profile {
  display: flex;

  &__photoContainer {
    min-width: 4rem;
    min-height: 4rem;
    width: 4rem;
    height: 4rem;

    background-color: $color-focus-primary-dark;
    border-radius: 10px;
  }
  &__photo {
    border-radius: 7px;
    border: 3px solid $color-focus-primary-dark !important;
  }
  &__dataContainer {
    display: flex;
    flex-direction: column;
    
    margin-left: 1rem;
  }
  &__name {
    font-size: $text-xs;
    line-height: 1.2rem;
    
    color: $color-focus-primary-dark;
    font-family: 'Noto-sans semiBold';
  }
  &__created_at {
    font-size: $text-xs;
    
    color: $color-focus-secundary;
    font-family: 'Noto-sans medium';

  }
}
@media screen and (max-width: 50rem){
  .profile {
    &__photoContainer {
      min-width: 3.3rem;
      min-height: 3.3rem;
      width: 3.3rem;
      height: 3.3rem;
    }
    &__dataContainer {
      margin-left: .75rem;
    }
    &__name {
      font-size: $mob-text-base;
      line-height: 1rem;
      
      color: $color-focus-primary-dark;
    }
    &__created_at {
      font-size: $mob-text-sm;
    }
  }
}
@media screen and (max-width: 35rem){
  .profile {
    &__photoContainer {
      min-width: 2.6rem;
      min-height: 2.6rem;
      width: 2.6rem;
      height: 2.6rem;
    }
    &__photo {
    border-radius: 5px;
      border: 2px solid $color-focus-primary-dark !important;
    }
    &__dataContainer {
      margin-left: .5rem;
    }
    &__name {
      font-size: $mob-text-sm;
      line-height: .8rem;
    }
    &__created_at {
      font-size: $mob-text-xs;
    }
  }
}