// Roboto
@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto'),
    url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto medium';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto bold';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

// Noto Sans
@font-face {
  font-family: 'Noto-sans';
  src: url('../assets/fonts/Noto-sans/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto-sans medium';
  src: url('../assets/fonts/Noto-sans/NotoSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto-sans semiBold';
  src: url('../assets/fonts/Noto-sans/NotoSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto-sans bold';
  src: url('../assets/fonts/Noto-sans/NotoSans-Bold.ttf') format('truetype');
}

// Nunito
@font-face {
  font-family: 'Nunito';
  src: 
    local('Nunito'),
    url('../assets/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito medium';
  src: url('../assets/fonts/Nunito/static/Nunito-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito semiBold';
  src: url('../assets/fonts/Nunito/static/Nunito-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Bold';
  src: url('../assets/fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
}